<ul>
{{#each model as |chat|}}
<li>
  <div><strong>{{chat.user.username}}</strong></div>
  <div><i>{{chat.createdAt}}</i></div>
  <div>{{chat.message}}</div>
</li>
{{/each}}
<li>
  <form {{action 'postMessage' on='submit'}}>
    {{input value=newMessage}}
  </form>
</li>
</ul>
{{outlet}}
